body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  h1 {
	text-align: center;
  }
  
  form {
	display: flex;
	justify-content: center;
	margin: 20px 0;
  }
  
  input[type="text"] {
	font-size: 16px;
	padding: 10px;
	border: 5px;
	border-radius: 5px 0 0 5px;
	width: 70%;
	box-sizing: border-box;
	background-color: #2196F3;
  }
  
  button[type="submit"] {
	font-size: 16px;
	padding: 10px 15px;
	border: 2px #4CAF50;
	border-radius: 0 5px 5px 0;
	background-color: #bbbbbb;
	color: #fff;
	cursor: pointer;
	width: 250px;
	
  }

  button[type="submit"]:hover {
	background-color: rgb(35, 134, 10);
  }

  
  ul {
	list-style: none;
	align-items: center;
	width: 70%;
	padding: 10;
	margin: 20;
	

  }
  
  li {
	display: flex;
	align-items: center;
	font-size: 18px;
	padding: 10px;
	border-bottom: 1px solid #575757;
  }
  
  li:last-child {
	border-bottom: none;
  }
  
  button.delete {
	margin-left: auto;
	font-size: 18px;
	border: none;
	background-color: transparent;
	color: #c40e0e;
	cursor: pointer;

  }
  button[type="delete"]:hover{
	background-color: red;

  }