li.completed {
  text-decoration: line-through;
  background-color: yellowgreen;
}

li button {
  margin-left: 50px;
  align-items: center;
  }

.todo-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.delete-button {
  background-color: rgb(255, 70, 70);
  color: rgb(0, 0, 0);
  display: inline-block;
}

.delete-button:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  border: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 70%;
  border-radius: 25px;
}
h1 {
  border-radius: 25px;
  border: 10px solid #73AD21;
  padding: 20px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-radius: 50px;
  padding: 10px 15px;

}

input[type="text"] {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  width: 90%;
  box-sizing: border-box;
  background-color: #2195f37c;
  color: white;
  }

button[type="submit"] {
  font-size: 16px;
  padding: 10px 15px;
  border: 2px;
  border-radius:  50px;
  background-color: #4be424;
  color: #fff;
  cursor: pointer;
  }
/* Submit nappulan yläpuolella hiirtä pitäessä napin väri muuttuu vihreäksi */
button[type="submit"]:hover {
  background-color: rgb(35, 134, 10);
  border: 2px;
  color: black;
  }

li {
  display: flex;
  font-size: 20px;
  padding: 20px;
  border-bottom: 2px solid #3d0101;
  margin: auto;
}

ul li:hover {
  background: #3131316d;
}
